<div class="container">
    <mat-toolbar color="primary">
        <span class="fill-remaining-space"></span>
      <span>Register</span>
      
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
<mat-card>
     <mat-grid-list cols="1" rowHeight="600px">
        <mat-grid-tile>

            <div class="controls">
            <form (ngSubmit)="formSubmit()">

                <mat-form-field>
                    <input [(ngModel)]="user.userRole"
                     matInput 
                     name="userRole" 
                     placeholder="Enter Admin/user"
                     [formControl]="usertype"
                     required>
                     <mat-error *ngIf="usertype.invalid">{{getError()}}</mat-error>
                     <mat-hint align="start">User type should be Admin/User</mat-hint>
                    
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="user.emailId"
                    name="emailId"
                    matInput placeholder="Enter email" id="email" [formControl]="email" required>
                    
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input [(ngModel)]="user.username"
                    name="username"
                    matInput placeholder="Enter Username" id="username" [formControl]="username" required>

                    <mat-error *ngIf="username.invalid">{{getError()}}</mat-error>
                    <mat-hint align="start">Username must be unique</mat-hint>

                </mat-form-field>


                <mat-form-field>
                    <input [(ngModel)]="user.mobileNumber"
                    name="mobileNumber"
                    matInput placeholder="Enter Mobile number" id="mobileNumber" minlength="10" maxlength="10" [formControl]="mobileNumber" required>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="mobileNumber.invalid">{{getError()}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                    
                    [(ngModel)]="user.password"
                    name="passsword"
                    matInput 
                    [type]="hide ? 'password':'text'"
                    placeholder="Enter Password" id="password" [formControl]="password" required/>
                    <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid">{{getError()}}</mat-error>
                    <mat-hint align="start">Password should contain atleast 8 characters</mat-hint>

                </mat-form-field>

                <mat-form-field>
                    <input type="password" matInput 
                    [type]="hides ? 'password':'text'"
                    placeholder="Confirm Password" id="confirmPassword" [formControl]="confirmPassword" required>
                    <button mat-icon-button matSuffix (click)="hides=!hides" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hides ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword.invalid">{{getError()}}</mat-error>
                </mat-form-field>
                
                <div class="buttonClass">
                    <button type="submit" mat-raised-button color="primary" id="submitButton">Primary</button>
                </div>
                <p style="text-align: center;">Already a user? <a [routerLink]="'/user/login'" id="signinLink">LogIn</a></p>
                </form>
            </div>
            
           
        </mat-grid-tile>
        
     </mat-grid-list>
    </mat-card>
  
</div>
